--- 

layout: default
title: Blog
permalink: blog

---
<div class="section section-header section-header-about">
    <div class="parallax filter" filter-color-black"">
        <div class="image" style="background-image:url('/assets/img/bibleandcoffee.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <h1>Listen to Sermons, and Read Fresh Reflections</h1>
                <h3 class="subtitle">Focused on God’s word, the Christian life, and the world in which we live.</h3>
                <div class="separator separator-danger">✻</div>
            </div>
        </div>
    </div>
</div>

<div class="section section-card-blog">
    <div class="container">
        <div class="title-area">
            <h5 class="text-gray">Don't miss our</h5>
            <h2>Most Recent Stories</h2>
            <div class="separator separator-danger">✻</div>
        </div>

        <div class="row">
            {% for post in site.posts limit:9 %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

                <div class="card card-blog">
                    <a href="{{ post.url }}">

                        <img src="{{ site.baseurl }}{{ post.image.blog }}" class="header image-header">
                        <div class="content">

                            <div class="circle-black">
                                <div class="circle">
                                    <div class="date-wrapper">
                                        <span class="month">{{ post.date | date: "%b" }}</span>
                                        <span class="date">{{ post.date | date: "%d" }}</span>
                                    </div>
                                </div>
                            </div>

                            <h3 class="card-title">{{ post.title }}</h3>
                            <h6 class="card-category text-warning">{{ post.subtitle }}</h6>
                            <p class="text-description text-gray">{{ post.excerpt | strip_html }}</p>
                        </div>

                        <div class="categories">
                            {% for category in post.categories %}<span class="label label-fill label-category">{{ category }}</span> {% endfor %}
                        </div>

                        <div class="tags">
                            {% for tag in post.tags %}<span class="label label-fill label-danger">{{ tag }}</span> {% endfor %}
                        </div>

                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="title-area">
            <h5 class="text-gray">And check out our</h5>
            <h2>Blog Categories</h2>
            <div class="separator separator-danger">✻</div>
        </div>

        <div class="row">
            {% for category in site.categories %}
            <div class="col-md-4">

                <h3>{{ category[0] }}</h3>
                    {% for post in category[1] %}
                        <p><a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a><br>
                        <small>{{ post.date | date: "%b %d, %y" }}</small></p>
                    {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>