---
layout: default
---

<div class="section section-header-blog">
    <div class="parallax filter filter-color-primary">
        <div class="image" style="background-image:url('{{ site.baseurl }}{{ page.image.blog }}')">
        </div>
        <div class="container">
            <div class="content">
                <h1>{{ page.title }}</h1>
                <h3 class="subtitle">{{ page.subtitle }}</h3>
                <div class="separator separator-danger">✻</div>
                <h4>{{ page.date | date: "%B %d, %Y" }}</h4>
            </div>
        </div>
    </div>
</div>


{% if page.audio_file %}

    <audio src="{{ site.baseurl }}/assets/audio/{{ page.audio_file }}"
           style="width: 100%; height: 70px;" 
           type="audio/mp3"
           class="mejs__player"
           data-mejsoptions='{"alwaysShowControls": "true"}'>
    </audio>

{% endif %}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-blog">
                    {{ content }}
                </div>
                <div class="separator separator-danger">✻</div>
            </div>
            <div class="col-md-3 col-md-offset-1 text-center">
                <h3 class="social-title">Author</h3> {% include {{ page.author_include }} %}
                {% if page.categories.size > 0 %}
                <h3 class="social-title">Categories</h3> {% for category in page.categories %}
                <span class="label label-fill label-category">{{ category }}</span> {% endfor %} {% assign words = content | number_of_words %}
                {% endif %}
                {% if page.tags.size > 0 %}
                    <h3 class="social-title">Tags</h3> {% for tag in page.tags %}
                    <span class="label label-fill label-danger">{{ tag }}</span> {% endfor %} {% assign words = content | number_of_words %}
                    <br>
                    <br>
                {% endif %}
                <h3 class="social-title">Tidbits</h3>
                <div class="text-gray">
                    <br> {{ page.date | date: "%B %d, %Y" }}
                    <br> Words: {{ words }}
                    <br> Read Time: {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} 
                </div>
                <div>
                    <h3 class="social-title">Share</h3>
                    {% include social_share.html %}
                </div>
            </div>
        </div>
    </div>
</div>
