<div class="author">
    <div class="avatar avatar-danger">
        <img alt="..." src="/assets/img/faces/chrisgaynor.png" />
    </div>
    <div class="description text-center">
        <h3 class="big-text">Chris Gaynor</h3>
        <p class="small-text">Guest Speaker<br>Pastor of Worship and Prayer<br>The Summit Church</p>
    </div>
    <div class="social-buttons">
        <a href="http://www.summitrdu.com/leadership/chris-gaynor/" target="_blank"><i class="fa fa-external-link-square"></i></a>
    </div>
</div>
