<div class="author">
    <div class="avatar avatar-danger">
        <img alt="..." src="/assets/img/faces/steve_new.jpg" />
    </div>
    <div class="description text-center">
        <h3 class="big-text">Steve New</h3>
        <p class="small-text">Guest Speaker<br>Thailand</p>
    </div>
	<div class="social-buttons">
		<a href="https://twitter.com/el_frijol_guapo" class="btn btn-social btn-simple" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/stevennew116" class="btn btn-social btn-simple" target="_blank"><i class="fa fa-facebook-square"></i></a>
		<a href="http://www.timshol.org" class="btn btn-social btn-simple" target="_blank"><i class="fa fa-desktop"></i></a>
	</div>
</div>
