<div class="author">
    <div class="avatar avatar-danger">
        <img alt="..." src="/assets/img/faces/keithprofilepic.jpg" />
    </div>
    <div class="description text-center">
        <h3 class="big-text">Keith Welton</h3>
        <p class="small-text">Lead Pastor</p>
    </div>
    <div class="social-buttons">
        <a href="https://twitter.com/keithwelton" class="btn btn-social btn-simple" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/keith.welton.9" class="btn btn-social btn-simple" target="_blank"><i class="fa fa-facebook-square"></i></a>
    </div>
</div>
