<div id="carousel-home-main" class="carousel slide" data-ride="carousel" data-interval="">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home-main" data-slide-to="0" class="active"></li>
        <!-- <li data-target="#carousel-home-main" data-slide-to="1"></li> -->
        <!-- <li data-target="#carousel-home-main" data-slide-to="2"></li> -->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <!-- <div class="item active">
            <div class="section section-header clearfix">
                <div class="parallax filter filter-color-primary">
                    <div class="image" style="background-image: url('assets/img/easter-bridge-bg.png')">
                    </div>
                    <div class="container">
                        <div class="content">
                            <div class="title-area" style="text-shadow: none;">
                                <h1 style="color:#F6BC17">Experience Hope!</h1>
                                <p>Join Us For Easter!</p>
                                <p>Sunday, April 16th, 9:30 AM</p>
                                <div class="separator line-separator">♦</div>
                                <p><a href="{{ site.baseurl }}{% link easter.html %}" class="btn btn-danger btn-fill">Find Out More!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="item">
            <div class="section section-header clearfix">
                <div class="parallax filter filter-color-primary">
                    <div class="image" style="background-image: url('assets/img/discovering-christianity-background.png')">
                    </div>
                    <div class="container">
                        <div class="content">
                            <div class="title-area">
                                    <p>
                                        <img alt="Discovering Christianity Logo" src="{{ site.baseurl }}/assets/img/discovering-christianity.svg" class="img-rounded" style="max-width:400px; z-index: 2000;">
                                    </p>
                                    <h3 class="subtitle">A Nine Week Journey Through the Bible</h3>

                                    <p>Beginning April 23, 2017</p>
                                    <p><a href="{{ site.baseurl }}{% link resources/sermon-series/discoveringchristianity.html %}" class="btn btn-danger btn-fill">Find Out More!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="item active">
            <div class="section section-header clearfix">
                <div class="parallax filter filter-color-primary">
                    <div class="image" style="background-image: url('assets/img/25985804492_1c3d7c3610_k.jpeg')">
                    </div>
                    <div class="container">
                        <div class="content">
                            <div class="title-area">
                                <h1>Welcome!</h1>
                                <div class="">&nbsp;</div>
                                <p>At bridgeway we're committed to the vision of:</p>
                                <p style="text-transform: none;"">Worshipping God.
                                    <br>Loving others.
                                    <br>Influencing the world...
                                    <br>one person at a time.</p>
                                <div class="separator line-separator">♦</div>
                                <p style="text-transform: none;">(Exodus 20:3-5; Mark 12:30-31; Gen 1:26-28; Matt 28:17)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <!-- <a class="left carousel-control" href="#carousel-home-main" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#carousel-home-main" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->

</div>
