<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Sunday Service</h5>
                    <nav>
                        <ul>
                            <li>9:30 a.m. Worship</li>
                        </ul>
                    </nav>
                </div>
                <div class="separator separator-danger">✻</div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> Get in Touch</h5>
                     <nav>
                        <ul>
                            <li>Bridgeway Church</li>
                            <li>4755 Kimball Bridge Rd.</li>
                            <li>Alpharetta, GA 30005</li>
                            <li>&nbsp;</li>
                            <li><i class="fa fa-phone"></i> Telephone: 678.942.1100</li>
                            <li><i class="fa fa-fax"></i> Fax: 770.751.0610 </li>
                            <li><i class="fa fa-envelope"></i> email: hello@bridgeway.net</li>
                        </ul>
                    </nav>
                </div>
                <div class="separator separator-danger">✻</div>
                <div class="info">
                    <h5 class="title">For Members</h5>
                    <nav>
                        <ul>
                            <li><a href="https://bridgewaychurch.elvanto.net/login/" target="_blank">Log in to Elvanto</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="separator separator-danger">✻</div>
            </div>

            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/BridgewayChurchGeorgia/" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BridgewayGA" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bridgewaychurchga" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}{% link feed.xml %}" class="btn btn-social btn-rss btn-simple">
                                    <i class="fa fa-rss"></i> Latest Posts (RSS)
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="separator separator-danger">✻</div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Our Tweets</h5>
                        <a class="twitter-timeline" href="https://twitter.com/BridgewayGA"
                         data-dnt="false" 
                         data-widget-id="362037260096532480"
                         data-tweet-limit="2"
                         data-link-color="#777777"
                         data-theme="dark"
                         data-chrome="nofooter noheader transparent"
                        >Tweets by @BridgewayGA</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>

        </div>
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Bridgeway Church
        </div>
    </div>
</footer>