<div class="section section-contact-us">
    <div class="contact-container">
        <div class="address-container col-md-4 col-xs-12">
            <div class="address">
                <h4>Where to meet ?</h4>
                <p class="text-gray">
                    Bridgeway Church <br>
                    4755 Kimball Bridge Rd.<br>
                    Alpharetta, GA 30005 
                </p>
                <h4>Phone</h4>
                <p class="text-gray">678.942.1100</p>
                <h4>Fax</h4>
                <p class="text-gray">770.751.0610</p>
                <h4>Email</h4>
                <a href="mailto:information@bridgeway.net">
                    <p class="text-gray">information@bridgeway.net</p>
                </a>
            </div>
        </div>
        <div id="map" class="map"></div>
    </div>
</div>