<nav class="navbar navbar-default navbar-fixed-top">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img alt="Bridgeway Church" src="{{ site.baseurl }}/assets/img/logos/Bridgeway_WhiteYellow.svg" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
                <li><a href="{{ site.baseurl }}{% link about.html %}">About</a></li>
                <li><a href="{{ site.baseurl }}{% link visit.html %}">Visit</a></li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Resources <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}{% link blog.html %}">Blog</a></li>
                        <li><a href="{{ site.baseurl }}{% link resources/sermon-series/discoveringchristianity.html %}">Discovering Christianity</a></li>
						<li><a href="{{ site.baseurl }}{% post_url 2017-03-26-the-gospel-clear-and-simple %}">The Gospel Clear &amp; Simple</a></li>
						<li><a href="{{ site.baseurl }}{% link resources/sermons.html %}">Sermons</a></li>
						<li><a href="{{ site.baseurl }}{% link resources/sermon-series/charged.html %}">Sermon Series: Charged</a></li>
						<li><a href="{{ site.baseurl }}{% link resources/sermon-series/discoveringchristianity.html %}">Sermon Series: Discovering Christianity</a></li>
						<li><a href="{{ site.baseurl }}{% link resources/sermon-series/realigned.html %}">Sermon Series: Realigned</a></li>
                    </ul>
                </li>

                <li><a href="{{ site.baseurl }}{% link growandgo.html %}">Grow &amp; Go</a></li>
                <li><a href="{{ site.baseurl }}{% link giving.html %}">Giving</a></li>
                <!-- <li><a href="https://bridgewaychurch.elvanto.net/login/" target="_blank">Elvanto</a></li> -->
                <li><a href="{{ site.baseurl }}{% link contact.html %}" class="btn btn-danger btn-fill">Contact Us</a></li>
                <li class="social-links">
                    <a href="https://www.facebook.com/BridgewayChurchGeorgia/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/BridgewayGA" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/bridgewaychurchga" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="{{ site.baseurl }}{% link feed.xml %}" target="_blank">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
