<ul class="share-buttons">
    
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
    
    <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }} {{ site.url }}{{ page.url }}&via=BridgewayGA" target="_blank" title="Tweet"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
    <!-- <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="sr-only">Share on Google+</span></a></li> -->
    
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }} by Bridgeway%20Church%20%7C%20Alpharetta%2C%20Georgia&summary={{ page.excerpt }}&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
    
    <li><a href="mailto:?subject={{ page.title }} | Shared from Bridgeway%20Church&body='{{ page.excerpt }}' - Excerpt from '{{ page.title }}' by {{ page.author }} : {{ site.url }}{{ page.url }}" target="_blank" title="Send email"><i class="fa fa-envelope" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>

</ul>